.header {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .title {
    float: left;
    margin-left: 25px;
    font-family: 'Arbutus Slab', serif;
  }
  
  .scores {
    float: right;
    margin-right: 25px;
    font-family: 'Arbutus Slab', serif;
  }